{% extends 'petshelter/base.html' %}

{% load static %}

{% block content %}
    <!-- Контент страницы -->
        <div>
            <h1 class="text-center">Добро пожаловать на главную страницу </h1>
            <h1 class="text-center">"Путь домой"</h1>
            <h2 class="text-center">– сайта приюта домашних животных, где наши цели направлены на достижение благополучия и счастья бездомных животных.</h2>
            <br><br>
            <hr style="border-color: #fbe3fd; border-width: 3px;">
            <br><br>
            <div class="container">
                <img src="{% static 'petshelter/logocolored.svg' %}" height="400" width="400" class="mx-auto d-block  rounded-circle icon">
            </div>
            <br><br>
        </div>
{% endblock %}