{% extends 'petshelter/base.html' %}

{% load static %}

{% block content %}
<body>
    <h1>Новости</h1>
    {% for news in newses %}
    <hr style="border-color: #fbe3fd; border-width: 3px;">
    <br>
    <h4 class="d-flex p-2">{{ news.title }}</h4>
    <p class="d-flex p-2">{{ news.created }}</p>
    <div class="container d-flex p-2">
        <div class="align-self-center">
            <img src="{{ news.image_content.url }}" height="200" width="200">
        </div>
        <div class="align-self-center">
            <p class="d-flex p-2"> {{ news.memo }}</p>
        </div>
    </div>
    {% endfor %}
</body>

{% endblock %}