.main {
    font-family: 'Roboto Slab', serif;
    background-color: #fbe3fd;
    color: #a858f9;
}

.main-content {
    font-family: 'Roboto Slab', serif;
    color: #a858f9;
}

.icon {
    background-color: #fbe3fd;
}

.sectext {
    color: #fbe3fd;
}
